.button {
  $_parent: &;

  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  transition: all 0.3s ease;

  &__title {
    color: #111;
    transition: all 0.3s ease;
  }

  &.-accent {
    background-color: color('accent');

    #{$_parent}__title {
      color: color('light');
    }
  }

  &.-simple {
    background-color: #eee;
  }

  &:disabled {
    background-color: #eee;

    #{$_parent}__title {
      color: #bbb;
    }
  }
}

