.button {
  $_parent: &;

  background-color: #eee;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  transition: all 0.3s ease;

  &__title {
    color: #111;
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: darken(#eee, 70%);

    #{$_parent}__title {
      color: #eee;
    }
  }

  &:disabled {
    background-color: darken(#eee, 50%);
    cursor: not-allowed;

    #{$_parent}__title {
      color: lighten(#111, 30%);
    }
  }
}
