.main-layout {
  background-color: color('dark');
  display: flex;
  min-height: 100vh;
  padding-top: spacing('s');
  width: 100vw;

  &__logo {
    left: 50%;
    position: fixed;
    top: spacing('s');
    transform: translateX(-50%);
  }

  &__body {
    color: color('light');
  }
}
