.main-layout {
  align-items: center;
  background-color: color('dark');
  display: flex;
  min-height: 100vh;
  padding-top: spacing('l');
  width: 100vw;

  &__container {
    display: grid;
    padding: spacing('l');
  }

  &__logo {
    display: block;
  }

  &__body {
    align-items: center;
    color: color('light');
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
